--
<div style="color: #333">
  Equipe Gympoint
  <br />
  <small>
      Utilize nosso <a href={{ helpLink }} style="text-decoration: underline; font-weight: normal"><strong>canal online</strong></a> para informações adicionais.
  </small>
</div>
