<p>Seja bem-vindo à Gympoint! Abaixo você pode conferir os detalhes do seu plano:</p>
<p>
  <strong>Nome do plano: </strong> {{ planTitle }} <br />
  <strong>Data de início: </strong> {{ startDate }} <br />
  <strong>Data de término: </strong> {{ endDate }} <br />
  <strong>Preço: </strong> {{ price }} <br />
</p>
